<section>
  <div class="container-text" >
    <div class="Area-text">
       <div class="texto">
          <h1>DANCE SCHOOL & STUDIO</h1>
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, obcaecati libero ab quaerat numquam quod eius modi perferendis! Dignissimos velit facere odio quia tempore non ab atque necessitatibus nam suscipit!</p>
       </div>
    </div>
    <div class="Area-elemet">
      <div>
      <div class="area-quadrado">
        <div class="quadrado">
           <img src="../../../../assets/thumbs-up-regular.svg" alt="" style="height: 2vh;">
        </div>
      </div>
        <div class="texto-area">
          <h1>titulo</h1>
          <p>Lorem ipsum dolor sit </p>
        </div>
      </div>
    </div>
    <div class="Area-elemet">
      <div>
      <div class="area-quadrado">
        <div class="quadrado">
          <img src="../../../../assets/child-dress-solid.svg" alt="" style="height: 2vh;">
        </div>
      </div>
        <div class="texto-area">
          <h1>titulo</h1>
          <p>Lorem ipsum dolor sit </p>
        </div>
      </div>
    </div>
    <div class="Area-elemet">
      <div>
      <div class="area-quadrado">
        <div class="quadrado">
          <img src="../../../../assets/circle-right-regular.svg" alt="" style="height: 2vh;">
        </div>
      </div>
        <div class="texto-area">
          <h1>titulo</h1>
          <p>Lorem ipsum dolor sit </p>
        </div>
      </div>
    </div>
  </div>

</section>

