<header>
  <div class="container">

    <div class="menu">

      <img [src]="src">


      <div class="links">
        <ul>
          <li><a href="#">Home</a></li>
        </ul>
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            About Us
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">About US</a></li>
            <li><a class="dropdown-item" href="#">Instructor</a></li>

          </ul>
        </div>


        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Classes
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Pages
          </a>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
        <ul>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="container-redes">
        <div class="redes">
          <span><a href="#" target="blank"><img src="../../../assets/facebook.svg" class="icon_redes" alt=""></a></span>
        </div>
        <div class="redes">
          <span>
            <a href="#" target="black"><img src="../../../assets/twitter.svg" class="icon_redes"></a>

          </span>
        </div>
        <div class="redes">
          <span><a href="#" target="black"><img src="../../../assets/youtube (1).svg" class="icon_redes" ></a></span>
        </div>
      </div>
    </div>
  </div>
</header>


